<section class="comments">
    {{#each this}}
    <article class="card">
        <article>
            <p class="comment-text">{{comment_content}}</p>
            <p class="comment-author">- by {{user.username}} on {{format_date created_at}}</p>
        </article>
    </article>
    {{/each}}
</section>