<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <h1>

          <a id="main-header" href="/">Tech Blog!</a>
        </h1>
      </header>

        <nav>
           <a href="/">Home</a>
          {{#if loggedIn}}
            <a href="/Dashboard">Dashboard</a>
            <a href="/" id="log-out">Logout</a>
          {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>

          {{/if}}

        </nav>
      <main>
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>