{{#if posts.length}}
{{#each posts as |post|}}
<section class="post-card">
    {{> post-info post}}
    <a href="/post/{{id}}" class="post-link">Continue to post →</a>
</section>
{{/each}}
{{else}}
<section id="no-posts">
    <p>No posts available. Go to <a id="login-link" href="/dashboard">Dashboard</a> to add posts.</p>
</section>
{{/if}}