<section class="login-form">

  <h2 class="login-header">Log In</h2>

  <form>
    <div id="form-input">
      <label for="username">Username:</label>
      <input type="text" id="username" />
    </div>

    <div id="form-input">
      <label for="password">Password:</label>
      <input type="password" id="password" />
    </div>
  </form>

  <div>
    <button id="log-in-btn">Login</button>
  </div>

</section>

<script src="/js/login.js"></script>