

<section>

   
        <h2>Log In</h2>
    

    <form>
        <div id='form-input'>
            <label for="username">Username:</label>
            <input type="text" id="username" />
        </div>

        <div id='form-input'>
            <label for="password">Password:</label>
            <input type="password" id="password" />
        </div>
    </form>

    <div>
        <button id="log-in-btn">Log in</button>
    </div>

</section>

<script src="/js/login.js"></script>