<section id="newpost-container">

  
        <h2 class="login-header">Create a New Post!</h2>
    

    <form>
        <div id='form-input'>
            <label for="post-title">Title:</label>
            <textarea type="text" class='edit-post' id="post-title" rows="1" cols="50" /></textarea>
        </div>

        <div id='form-input'>
            <label for="post-content">Content:</label>
            <textarea type="text" class='edit-post' id="post-content" rows="8" cols="50" /></textarea>
        </div>
    </form>

    <div>
        <button id='new-post-btn'>Create</button>
    </div>

</section>

<script src="/js/newpost.js"></script>