<section id="form-container">

  <div id="form-header">
    <h2>Sign Up</h2>
  </div>

  <form>
    <div id="form-input">
      <label for="username">Username:</label>
      <input type="text" id="username" />
    </div>

    <div id="form-input">
      <label for="password">Password:</label>
      <input type="password" id="password" />
      <p style="font-style: italic;">(Password must be at least 8 characters
        long!)</p>
    </div>

  </form>

  <div>
    <button id="sign-up-btn">Sign Up</button>
  </div>

</section>

<script src="/js/signup.js"></script>