{{> post-info post}}
<h2>Comments</h2>
{{#if loggedIn}}
<section>
    <form>
        <label for="comment">Add a comment:</label><br>
        <textarea id="comment-text" name="comment" placeholder="Enter your comment here" rows="4" cols="50"></textarea><br>
        <button class="button" id="comment-btn" type="submit">Submit</button>
    </form>
</section>
{{/if}}
{{> comment-info post.comments}}
{{#if loggedIn}}
<script src="/../js/newcomment.js"></script>
{{/if}}