<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <h1>

          <a href="/">Tech Blog!</a>
        </h1>
        <nav>

          <a href="/profile">profile</a>
          |

          <a href="/login">login</a>

        </nav>
      </header>
      <main>

      </main>
      <footer>

      </footer>
    </div>

  </body>

</html>